<style>
    body {
        background-color: ghostwhite;
    }

    .responsive-image {
        max-width: 80%;
        height: auto;
    }
</style>

<div class="text-center">
    <h1 class="display-4 margin-bottom">Witaj w Pieskim Menu!</h1>
    <p style="font-size: 18px;">Już dziś skomponuj z nami idealną karmę dla Twojego pupila.</p>
    <br />
    <img src="/images/pies1.png" alt="Dog" class="responsive-image" />
</div>
