@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Twój przepis został zapisany!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: ghostwhite;
    }

    .responsive-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        height: auto;
    }

    .center-text {
        text-align: center;
        margin-top: 20px;
    }
</style>


<h2 class="center-text">Twój przepis został zapisany! Znajdziesz go w zakładce "Twoje przepisy"</h2>

<img src="/images/karma1.png" alt="Karma" class="responsive-image" />
